-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch>=2.0.1+cpu
torchvision>=0.15.2+cpu
matplotlib>=3.7.2
tensorboard>=2.14.0
# For the high level pytorch
pytorch_lightning>=2.0.8
# For the online logging
neptune-client>=1.6.1

